/* Theme styles */
body.light-theme {
    background-color: #f0f0f0;
    color: #000;
}

body.dark-theme {
    background-color: #1a1a1a;
    color: #fff;
}

header.light-theme,
footer.light-theme,
#sidebar.light-theme {
    background-color: #333;
}

header.dark-theme,
footer.dark-theme,
#sidebar.dark-theme {
    background-color: #000;
}

button.theme-toggle {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #ff9800;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 16px;
}

button.theme-toggle:hover {
    background-color: #e68900;
}
